.details > .main-details {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.main-details > .icon {
    height: 40%;
    width: 25%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 32px;
}

.main-details > .description {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    gap: 80px;
}

.main-details .desc {
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    font-size: 150px;
    color: rgba(255, 255, 255, 0.7);
    padding-right: 32px;
}

.main-details > .description > .location {
    width: 30%;
    text-align: end;
    padding-right: 40px;
    font-size: 25px;
    color: white;
    font-weight: 700;
}